@import "../App.scss";

  .sixth {
    opacity: 1;
    animation: paused; //running
    z-index: 11;
  }
  .box5  {
    .article_mf {
      background-color: rgba(0, 100, 0, 0.0); 
    
    h2 {
      background: linear-gradient(rgba(0, 100, 0, 0.3)50%, rgba(0, 100, 0, 0.0)), linear-gradient(rgba(255, 255, 255, 1.0)50%,rgba(255, 255, 255, 0.0));
      
    }
    div {
      background-color: rgba(0, 100, 0, 0.1);
      position: relative;
      top: -100px;
      //background-color: none;
      width: 100%;
      p:first-child {
        padding-top: 110px; 
      }
      p {
        width: 100%;
        padding-right: 20px;
        padding-bottom: 10px;
      }
      p:last-child {
        padding-bottom: 500px;
      }
    }
    }  
  }

  .myfuture {
      color:darkgreen;
  }

  