@import "../App.scss";

  .sixth {
    opacity: 1;
    animation: paused; //running
    z-index: 11;
  }
  .box5  {
    .box5_mf {
      background-color: rgba(60, 85, 185, 0.2); 
    
    h2 {
      background: linear-gradient(rgba(0, 100, 0, 0.3), rgba(0, 100, 0, 0.1)), linear-gradient(rgba(255, 255, 255, 1.0)75%,rgba(255, 255, 255, 0.5));
      
    }
      p {
        background: rgba(0, 100, 0, 0.1);
        padding-bottom: 00px;
      }
    }  
  }

  .myfuture {
      color:darkgreen;
  }

  