@import "../App.scss";

.seventh {
  opacity: 1;
  animation: paused;
  z-index: 11;
}
#box5re {
  background-color: rgba(100, 5, 80, 0.10);
  //box-shadow: 2px 2px 15px;
  width: 90%;
  .article_re {
    h2 {
      background: linear-gradient(
          rgba(100, 5, 80, 0.4) 60%,
          rgba(100, 5, 80, 0)
        ),
        linear-gradient(rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0));
      min-height: 60px;
      margin-bottom: 0px;
      padding-left: 50px;
    }
    #references_JR {
      width: 90%;
      padding-left: 50px;
    }
    h3 {
      padding-left: 0px;
      padding-top: 0;
      margin-bottom: 0;
      color: rgb(100, 5, 80);
    }
    .apparisal {
      //background: rgba(195, 70, 30, 0.1);
      padding-left: 0px;
      margin-bottom: 20px;
      width: 100%;
      h4 {
        margin: 0px 0 0 0;
        padding: 0px 0px 0px 0px;
        font-weight: bolder;
        text-align: left;
      }
      q {
        padding: 0px;
        margin: 0 20px;
        width: 80%;
        font-size: $normal;
        display: block;
        text-align: left;
      }
      p {
        font-size: $normal;
        background-color: transparent;
        width: 90%;
      }
    }
  }
}

.reference {
  color: rgb(100, 5, 80);
}
